@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Lato&family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 400;
  background-color: bisque;
  margin: 0;
  padding: 0;
}

body::after {
  content: "";
  background: url(./apex-legends-logo-font.png) no-repeat;
  opacity: 0.4;
  top: 0;
  left: 45px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 90%;
}

header {
  text-decoration: none;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  padding-top: 20px;
}

#recent-scores-header {
  display: flex;
  gap: 15px;
}

#recent-scores-button {
  height: 25px;
  width: 80px;
  margin-top: 20px;
  box-shadow: 3px 3px #000;
}

#scores-table {
  border: 2px solid rgb(101, 100, 100);

}

.scores {
  margin: 0;
  padding: 0;
}

#scores-table ul li {
  list-style: none;
  display: flex;
  justify-content: start;
  text-transform: capitalize;
}

#scores-table ul li:nth-child(odd) {
  background: rgba(255, 228, 196, 0.836);
}

#scores-table ul li:nth-child(even) {
  background: rgba(227, 227, 227, 0.836);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

::placeholder {
  font-style: italic;
}

input {
  height: 30px;
}

#submit {
  display: inline-block;
  position: relative;
  text-align: right;
  width: fit-content;
  left: 70.1%;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 3px 3px #000;
}
